<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>

	<!-- Outer-most container   -->
	<div class="container-fluid">

		<!-- Grey Sign In Box   -->
		<div class="jumbotron" align="center">
        
				<p> "Privacy is what allows us to determine who we are and who we want to be"</p>

		</div> 


	</div>

</div>

<!-- Must include for jquery and bootstrap, in this order -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
