<!-- views/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
	<% include /_partial/head %>
  </head>

  <body class ="container">
   <header>
    <% include /_partial/header %>
   </header>

    <main>
    	<% include /_partial/sidebar %>
    		</div>
    	</div>

    </main>

  </body>

</html>
