<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
  </head>

  <body>

    <!-- Outer-most container   -->
    <div class="container-fluid">
    
      <!-- Navigation Bar   
      <nav class="navbar navbar">          
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-info-sign"></span>
        </button>
      </nav>-->


      <!-- Grey Sign In Box   -->
      <div class="jumbotron" align="center">
        
        <form class="form-signin" role="form" method="post">
          
          <img src="/images/keyMailLogo.png" class="img-thumbnail" alt="Key Mail Logo">          
          <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
          <input type="password" class="form-control" placeholder="Password" required="">
     
          <!--<button type="submit" class="btn btn-default">Sigh in</button>-->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     
        </form>
      </div> 


    </div>


    <div class="footer">
      <div class="container">
        <span class="glyphicon glyphicon-info-sign info-icon"></span>
      </div>
    </div>

    <!-- Must include for jquery and bootstrap, in this order -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  </body>
</html>
