<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/splash.css">
  
</head>

  <body id="index">

    <div class="topcorner">

      <ul class="title-list">
        <li><h1 class="section-headline-large">PRIVACY.</h1></li>
        <li><img src="/images/keyMailLogo.png" class="img-thumbnail" alt="Key Mail Logo"></li>
        <li><h1 class="section-headline-large">RESTORED.</h1></li>
        <li> <button class="btn btn-lg btn-primary btn-block" type="submit">Get Secure KeyMail</button></li>
      </ul>

    </div>




    <!-- Must include for jquery and bootstrap, in this order -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/resize.js"></script>
  
  </body>
</html>
