<link rel="stylesheet" href="/stylesheets/contacts-sidebar.css"/>

<nav id="sidebar-nav" class= "nav navbar-nav">
    <ul class="sidebar-nav jumbotron vertical-center">
        <li><h4>CONTACTS</a></h4></li>
        <li><h5 id="safe">Andrea</h5></li>
        <li><h5 id="not-safe">Bryan</h5></li>
        <li><h5 id="safe">Cameron</h5></li>
        <li><h5 id="maybe-safe">Deanna</h5></li>
        <li><h5 id="safe">Erin</h5></li>
        <li><h5 id="safe">Fiona</h5></li>
        <li><h5 id="maybe-safe">Gavin</h5></li>
        <li><h5 id="not-safe">Harry</h5></li>


    </ul>
</nav>