<!-- views/_partials/header.ejs -->
<!-- this section represents the main body -->

<link rel="stylesheet" href="/stylesheets/contacts-main.css"/>


<div id="main-div" class="main">

	<div id="divide-contacts"class="divde-contacts">
		
		<ul class="contact-divs contact-divs">
			
			<ul><h3>SAFE CONTACTS:</h3></ul>
				<li id="safe"><span class="glyphicon glyphicon-lock Lk"> </span>    Andrea</li>
				<li id="safe"><span class="glyphicon glyphicon-lock Lk"> </span>    Cameron</li>
				<li id="safe"><span class="glyphicon glyphicon-lock Lk"> </span>    Erin</li>
				<li id="safe"><span class="glyphicon glyphicon-lock Lk"> </span>    Fiona</li>
			
			<ul><h3>PARTIALLY SAFE: (either sender not verified or expired key)</h3></ul>
				<li id="maybe-safe"><span class="glyphicon glyphicon-lock Maybe"> </span>    Deanna</li>
				<li id="maybe-safe"><span class="glyphicon glyphicon-lock Maybe"> </span>    Gavin</li>
			
			<ul><h3>THESE CONTACTS ARE <b>NOT</b> SAFE:</h3></ul>
				<li id="not-safe"><span class="glyphicon glyphicon-lock UnLk"> </span>    Bryan</li>
				<li id="not-safe"><span class="glyphicon glyphicon-lock UnLk"> </span>    Harry</li>
		</ul>
	</div>

</div>