<link rel="stylesheet" href="/stylesheets/demoMessage.css"/>


<ul class= "message container-fluid">

	<div class="row">
			<ul class="msgSafety col-lg-3 col-md-3 col-sm-3">
				<li> <a href="#" onclick=""> <span class="Fm"> Aaron Griffin </span> </a> </li>
				<li> <a href="#"> <span class="glyphicon glyphicon-lock Lkg"> </span> </a> </li>
			</ul>
			<li> <a href="#"> <span class="col-lg-8 col-md-8 col-sm-8 Sb"> RE: Important Hackathon Info </span> </a> </li>
			<li> <a href="#"> <span class="col-lg-1 col-md-1 col-sm-1 Rt"> 11/02/14 </span> </a> </li>
	</div>

			<p>Michael,

				It has come to my attention that you have been stealing my cookies. This is an unwelcome gesture as my need to consume an egregious amount of sweets is UNREAL. Please stop by my office so we can discuss how you will be paying me back for said cookies.

				Sincerely, Aaron Griffin</p>
	</div>
</ul>