<!-- views/_partials/header.ejs -->
<!-- this section represents the main body -->

<link rel="stylesheet" href="/stylesheets/demoMain.css"/>

<div id="main-div" class="main">
		<th> <% include ../_partial/demoMessage %> </th>

</div>