<!-- views/partials/footer.ejs -->
<link rel="stylesheet" href="/stylesheets/footer.css">


	<!-- Top Menu Bar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">

     	<!-- Flushed Left -->
        <div>
      	    <ul class="nav ">
      			<li><a href="../about"><span class="glyphicon glyphicon-info-sign info-icon"></span></a></li>
      		</ul>
      	</div>

  </div>
</nav>



<!-- Footer 
    <div id="footer" class="col-lg-12">
      <div class="container">
        <a href="../about"><span class="glyphicon glyphicon-info-sign info-icon"></span></a>
      </div>
    </div>-->