<link rel="stylesheet" href="/stylesheets/sidebar.css"/>

<nav class= "nav navbar-nav">
    <div id="wrapper">
        <div class="row">
            <div class="col-sm-2">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav jumbotron">
                        <li>
                            <a href="#">Inbox</a>
                        </li>
                        <li>
                            <a href="#">Drafts</a>
                        </li>
                        <li>
                            <a href="#">Archive</a>
                        </li>
                        <li>
                            <a href="#">Junk</a>
                        </li>
                        <li>
                            <a href="#">Drafts</a>
                        </li>
                        <li>
                            <a href="#">Sent</a>
                        </li>
                        <li>
                            <a href="#">Deleted</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                        <li>
                            <a href="#">Add Folder</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>