<link rel="stylesheet" href="/stylesheets/sidebar.css"/

<div id="wrapper">

        <!-- Sidebar -->
        <div class="row">
            <div class="col-sm-3">
                <div class="jumbotron">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    Inbox
                                </a>
                            </li>
                            <li>
                                <a href="#">Drafts</a>
                            </li>
                            <li>
                                <a href="#">Archive</a>
                            </li>
                            <li>
                                <a href="#">Junk</a>
                            </li>
                            <li>
                                <a href="#">Drafts</a>
                            </li>
                            <li>
                                <a href="#">Sent</a>
                            </li>
                            <li>
                                <a href="#">Deleted</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                            <li>
                                <a href="#">Add Folder</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>